@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap');




:root {
  --main-transition: all .3s linear;
  --lightblue: #00D3FB;
  --darkblue: #01bbe0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  outline: none;
}




.preloader{
  position: absolute;
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 999;
  background-color: white;
  width: 100%;
  height: 100%;
}
.hide-preloader{
  visibility: hidden;
  z-index: -999;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.logo-header {
  flex-shrink: 5;

}

.logo-header img {
  width: 80%;
  cursor: pointer;
}

.nav-header {
  width: 25rem;
  margin-left: -6rem;
}

.nav-center {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-link a {
  text-decoration: none;
  color: inherit;
  transition: var(--main-transition);
  padding: .3rem;
  border-radius: .5rem;
}

.nav-link a:hover {
  background-color: rgb(233, 233, 233);
}

.contact-header {
  display: flex;
  flex-direction: row;
}

.support-phone {
  display: flex;
  flex-direction: row;
  background-color: #E0F7FF;
  border-radius: .3rem;
  padding: .3rem;
  font-size: .7rem;
}

.support-phone .icon-phone-center {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.icon-phone {
  border: 1px solid #000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.bold {
  font-weight: bold;
}

.clr-gray {
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.hotline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E0F7FF;
  border-radius: .3rem;
  padding: .3rem;
  font-size: .7rem;
  border-left: 2px dashed #9ed5e7;
}

.hotline .clr-gray {
  padding-top: .3rem;
}

.icon-container {
  position: relative;

}

.subtitle-icon {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  background-color: orange;
  border-radius: 50%;
  width: 1rem;
  display: grid;
  place-items: center;
  font-size: .8rem;
  color: white;
  padding: .1rem;
}

.user-header {
  display: flex;
  flex-direction: row;
  width: 10rem;
  justify-content: space-around;
}

.user-header .far {
  cursor: pointer;
}





.booking {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  height: 4rem;
  background-color: #1A7FD9;
  padding: .7rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: var(--main-transition);
}

.form-input-hotel {
  width: 100%;
}

.form-input-hotel .form {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

}



.input {
  position: relative;
  width: 20rem;
  height: auto;
  margin-right: .5rem;
}

.input:hover .input-box {
  display: block;
}

#input-location {
  position: relative;
  padding: .5rem 0 .5rem 2.5rem;
  border: none;
  border-radius: .3rem;
  background-image: url('../images/favicon.png');
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: .3rem center;
  height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.input-box {
  position: absolute;
  top: 3rem;
  width: 100%;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: gray 0 4px 16px;
  display: none;
  z-index: 1;
}

.input-box::after {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-weight: 900;
  top: -.8rem;
  left: 50%;
  font-size: 1.8rem;
  color: #DDF6FF;
}

.input-box .place {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.input-box h4 {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #DDF6FF;
}

.input-box ul {
  list-style-type: none;
  width: 80%;
  column-count: 2;
  column-gap: 5rem;
  column-width: auto;
  padding-bottom: 2rem;
}

.input-box li {
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  transition: var(--main-transition);
}

.input-box li:hover {
  color: #4C66A4;
  font-weight: bold;
  font-size: 1.1rem;
}

.input-box-enter {
  position: absolute;
  top: 3rem;
  width: 100%;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: gray 0 4px 16px;
  display: none;
  z-index: 1;
}

.input-box-enter::after {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-weight: 900;
  top: -.8rem;
  left: 50%;
  font-size: 1.8rem;
  color: #DDF6FF;
}

.input-box.input-box .hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

}

.input-box-enter h4 {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #DDF6FF;

}

.input-box-enter ul {
  list-style-type: none;
  width: 98%;
  padding-left: .4rem;
  column-gap: 5rem;
  column-width: auto;
  padding-bottom: 2rem;
  max-height: 60vh;
  overflow-y: scroll;
}

.input-box-enter li {
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: var(--main-transition);
}

.input-box-enter li:hover {
  color: #4C66A4;
  font-weight: bold;
  font-size: 1.1rem;
}

.input-box-enter .price {
  color: #ED4079;
}

.hotels-list i {
  color: #FFD21F;
}


.date-center {
  display: flex;
  flex-direction: row;
  margin-right: .5rem;
}

input[type="date"] {
  height: 2.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  padding: 0 .5rem 0 1rem;
}

#start-day {
  border-right: 1px solid #ccc;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

#end-day {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.amount-person {
  position: relative;
  height: 2.5rem;
  width: 20rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border: none;
  border-radius: .3rem;
  font-style: italic;
  font-size: 1rem;
  cursor: pointer;
  margin-right: .5rem;
}

.amount-person i {
  opacity: .5;
}

.amount-person .fa-times {
  position: absolute;
  top: 30%;
  right: 1rem;
  font-size: 1rem;

  visibility: hidden;
}

.amount-person .fa-times.show {
  visibility: visible;
}

.number-box {
  position: absolute;
  bottom: -7.2rem;
  right: 12rem;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 20vh;
  background-color: #fff;
  padding: 2rem;
  border-radius: .3rem;
  box-shadow: gray 0 4px 16px;
  visibility: hidden;
  z-index: 1;
}

.number-box::after {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-weight: 900;
  top: -.7rem;
  left: 50%;
  font-size: 1.8rem;
  color: #fff;
}

.show {
  visibility: visible;
}

.number-box .room {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.number-box .customer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number-box button {
  background: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: .3rem;
  border: 1px black solid;
  cursor: pointer;
}


.find-hotel {
  height: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  width: 15rem;
  font-size: 1.4rem;
  background-color: #ED4079;
  border: none;
  border-radius: .3rem;
}





/* User Section */

.user-manage-btn {
  border: none;
  background: transparent;
  transition: var(--main-transition);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.user-icon {
  position: relative;
}
.user-manage-box{
  position: absolute;
  bottom:-7rem;
  left: -3.8rem;
  width:9rem;
  height: 0rem;
  overflow: hidden;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 8px #ccc;
  display: flex;
  flex-direction: column;
  transition: all .1s linear;

}
.user-manage-box.show-manage-box{
  height: 6rem;
  overflow: visible;
}
.user-manage-box::before {
  content: "\f0de";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
    position: absolute;
    color: var(--lightblue);
    top: -.8rem;
    left: 45%;
    font-size: 1.9rem;
}
.manage-header{
  width:100%;
  height:30%;
  background-color: var(--lightblue);
  color: white;
  text-align: center;
  font-size: .7rem;
  display:grid;
  place-items: center;
  grid-template-columns: auto auto;
  

}
.manage-header .user-name{
  width:6rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}
.user-manage-box .drop-down{
  list-style-type: none;
  display:flex;
  flex-direction: column;
  width:100%;
  height:70%;
}
.drop-down li{
  width:100%;
}
.drop-down .manage-user-btn{
  width:100%;
  border: none;
  height: 2.2rem;
  background-color: #fff;
  transition: var(--main-transition);
  cursor: pointer;
  font-weight: bold;
}
.drop-down .manage-user-btn:hover{
  background-color: #d5f4ff;
}
.manage-user-btn i{
  color:var(--lightblue);
}
.user-manage-btn.login {
  /* margin-top: -1rem; */
  border: 1px solid var(--lightblue);
  border-radius: 50%;
  padding: .4rem;
  background-color: #eee;

}
.user-manage-btn .fas.fa-user{
  display:none;
}
.login .far.fa-user{
  display: none;
}
.login .fas.fa-user{
  display: block;
}
.user-manage-btn:hover {
  color: var(--lightblue);
}

.user-manage-btn:hover .fa-chevron-down {
  transform: translateY(.4rem);
}

.user-manage-btn .fa-chevron-down {
  transform: translateY(0rem);
  transition: var(--main-transition);
  font-size: .6rem;
}








/* FILTER CONTAINER */


.open-filter-bar {
  font-size: 3rem;
  position: fixed;
  top: 8rem;
  left: 3rem;
  background: transparent;
  border: none;
  color: var(--lightblue);
  text-shadow: 0 1px 3px var(--lightblue);
  animation: buttonBar 2s linear infinite;
  border: 1px var(--lightblue) solid;
  box-shadow: 0 2px 4px var(--lightblue);
  padding: 1.2rem;
  border-radius: 40% 20% 50% 40%;
  cursor: pointer;
  transition: var(--main-transition);
}

.open-filter-bar:hover {
  background-color: var(--lightblue);
  opacity: .3;
  color: white;
}

@keyframes buttonBar {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

.open-filter-bar::before {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 5rem;
  height: 5rem;
  border-radius: 90% 50% 50% 70%;
  border: 1px var(--lightblue) solid;
  box-shadow: 0 2px 4px var(--lightblue);
  animation: buttonBarBefore 1s linear infinite;
}

@keyframes buttonBarBefore {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

.open-filter-bar::after {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 5rem;
  height: 5rem;
  border-radius: 40% 30% 60% 20%;
  border: 1px var(--lightblue) solid;
  box-shadow: 0 2px 4px var(--lightblue);
  animation: buttonBarAfter 1s linear infinite;
}

@keyframes buttonBarAfter {

  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }

}

.filter-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(109, 216, 255, .5);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: var(--main-transition);
  cursor: pointer;
  z-index: 1;
}

.filter-container.show-container {
  visibility: visible;
}

.filter-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30vw;
  background-color: #fff;
  overflow-y: scroll;
  transition: var(--main-transition);
  cursor: default;
  transform: translateX(-110%);

}

.filter-bar.show-bar {
  transform: translateX(0%);
}

.filter-box {
  border: 1px rgb(233, 231, 231) solid;
  padding: 1rem;
  line-height: 2rem;
  margin: 2rem;
}

.display-number-of-hotel {
  border-bottom: 1px lightgrey solid;
}
.total-hotels{
  color:var(--lightblue);
  font-size: 1.8rem;
}
.number-of-hotel {
  font-size: 1.3rem;
}

.clear-all-filter {
  border: none;
  background: transparent;
  color: var(--lightblue);
  transition: var(--main-transition);
  padding: .5rem .2rem;
  margin: .5rem 0;
  border:1px solid white;
  cursor: pointer;
  animation:translate 3s linear infinite;
}
.clear-all-filter:hover{
  border:1px solid var(--lightblue);
  border-radius: .8rem;
}
@keyframes translate {
  0%{
    transform: translateX(0);
    
    color: var(--lightblue);
  }
  50%{
    transform: translateX(5rem);
    
    color: red;
  }
}
.filter-allow-name {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px lightgrey dashed;
}

#filter-allow-name {
  font-size: 1.1rem;
  padding: .5rem;
  border-radius: .5rem;
  outline: none;
  border: 1px #ccc solid;
  margin: 1rem 0;
}

#filter-allow-name:focus {
  border: 1px var(--lightblue) solid;
}

.filter-allow-price {
  padding: 1rem 0;
  border-bottom: 1px lightgrey dashed;
}

.value-min-max {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.value-min {
  position: relative;
  margin-left: 0rem;
  text-align: left;
}

.value-min::before {
  content: "|";
  position: absolute;
  left: .3rem;
  bottom: -.9rem;
  color: lightgrey;
  font-size: .8rem;
}

.value-max {
  position: relative;
  margin-right: -1rem;
}

.value-max::before {
  content: "|";
  position: absolute;
  right: 1.5rem;
  bottom: -.9rem;
  color: lightgrey;
  font-size: .8rem;
}

.value-range {
  color: var(--lightblue);
  font-weight: bold;
  width: 100%;
  text-align: right;
}


.range-input-price {
  -webkit-appearance: none;
  width: 100%;
  height: 14px;
  overflow: hidden;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: .5s;
  border-radius: 1rem;
}


.range-input-price:hover {
  border: 1px solid #91c8f5;
}

.range-input-price::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  box-shadow: -340px 0 0 330px #449be2, inset 0 0 0 40px #fff;
  border-radius: 50%;
  border: 1px rgb(129, 129, 245) solid;
}


.fa-star {
  color: #FFD21F;
  margin-right: .3rem;
}



.container-checkbox {
  display: block;
  position: relative;
  padding-left: 29px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: .4rem;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.container-checkbox:hover input~.checkmark {
  border: 2px #50A1D1 solid;
}

.container-checkbox input:checked~.checkmark {
  border: 2px #50A1D1 solid;
  background-color: #50A1D1;
}

.checkmark:after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top: -.4rem;
  left: .1rem;
  font-size: .8rem;
  color: white;
  visibility: hidden;
}

.container-checkbox input:checked~.checkmark:after {
  visibility: visible;
}

.filter-allow-stars {
  padding: 1rem 0;
  border-bottom: 1px lightgrey dashed;
}

.filter-allow-type {
  padding: 1rem 0;
  border-bottom: 1px lightgrey dashed;
}

.container-ratio {
  display: block;
  position: relative;
  padding-left: 29px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-ratio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-ratio {
  position: absolute;
  top: .4rem;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
}

.container-ratio:hover input~.checkmark-ratio {
  border: 2px #50A1D1 solid;
}

.container-ratio input:checked~.checkmark-ratio {
  border: 2px #50A1D1 solid;
  background-color: #50A1D1;
}

.checkmark-ratio:after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top: -.5rem;
  left: .15rem;
  font-size: .7rem;
  color: white;
  visibility: hidden;
}

.container-ratio input:checked~.checkmark-ratio:after {
  visibility: visible;
}

.filter-allow-service {
  padding: 1rem 0;
}




.hotels-center {
  width: 94%;
  height: 100%;
  margin: 3rem auto;

}

.sorting {
  margin: 2.5rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px lightgrey solid;

}

.sorting button {
  padding: 1rem 1rem;
  background: transparent;
  border: none;
  color: var(--lightblue);
  font-weight: bold;
  font-size: 1.2rem;

  transition: var(--main-transition);
  cursor: pointer;
}

.services:hover {
  border-bottom: 3px solid var(--lightblue);
}

.rank-stars:hover {
  border-bottom: 3px solid var(--lightblue);
}

.sort-price:hover {
  border-bottom: 3px solid var(--lightblue);
}

.services {
  border-bottom: 3px solid white;
  position: relative;
}

.sorting-popup {
  position: absolute;
  top: 3.6rem;
  left: 0rem;
  display: none;
  border: 1px solid #eee;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(218, 216, 216);
  border-radius: .3rem;
}

.sorting-popup ul {
  list-style-type: none;
  width: 100%;
}

.sorting-popup li {
  color: var(--lightblue);
  font-size: 1.2rem;
  padding: .2rem 0;
  cursor: pointer;
  transition: var(--main-transition);
  text-align: center;
}

.sorting-popup li:hover {
  background-color: var(--lightblue);
  color: #fff;
}

.services:hover>.sorting-popup {
  display: block;

}

.rank-stars {
  border-bottom: 3px solid white;
  position: relative;
}

.rank-stars:hover>.sorting-popup {
  display: block;

}

.sort-price {
  border-bottom: 3px solid white;
  position: relative;
}

.sort-price:hover>.sorting-popup {
  display: block;

}

.hotels-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  width: 100%;
  grid-gap: 2rem;

}

.hotel-container {
  width: 100%;
  border-bottom: 1px #ccc solid;
  padding-bottom: 2rem;
}

.hotel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.hotel-title {
  display: flex;
  flex-direction: row;
  margin-bottom: .4rem;
  width: 100%;
}

.hotel-title h2 {
  white-space: nowrap;
  max-width: 22rem;
  transition: var(--main-transition);
  color: var(--lightblue);
}


.number-stars {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hotel-address {
  margin-bottom: .7rem;
}

.hotel-address i {
  color: var(--lightblue);
}

.hotel-header-right {
  display: grid;
  place-items: center;
  width: 6rem;

}

.sale-box {
  display: grid;
  width: 100%;
  place-items: center;
  color: #EE642B;
  font-weight: bold;
  border: 1px #EE642B solid;
  padding: .4rem .2rem .4rem 1.2rem;
  position: relative;
  border-radius: .3rem;
}

.sale-box::before {
  content: '\f02e';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  font-size: 1.7rem;
  top: -.2rem;
  left: 0;
}

.hotel-center {
  display: flex;
  flex-direction: row;

}

.hotel-img img {
  max-width: 18rem;
  border-radius: .3rem;
  box-shadow: 0 1px 4px gray;
}

.hotel-body {
  width: 100%;
  padding-left: .8rem;
  padding-top: .5rem;
  background-color: rgb(243, 243, 243);
  border-radius: .2rem;
}

.service-icons {
  margin-bottom: 1rem;

}

.service-icons i {
  font-size: 1.3rem;
  color: var(--lightblue);
}

.service-icons span {
  position: relative;
  transition: var(--main-transition);
  letter-spacing: 0;



}

.service-icons span::before {
  content: '\f0de';
  display: none;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  font-size: 1.7rem;
  top: 1rem;
  left: 0rem;
  color: var(--lightblue);

}

.service-icons span::after {
  content: "";
  display: none;
  position: absolute;
  font-size: 1rem;
  top: 1.5rem;
  padding: .2rem .2rem;
  left: -2rem;
  width: 5rem;
  height: 1.2rem;
  background-color: rgba(0, 211, 251, .9);
  border-radius: .3rem;
  color: white;
  text-align: center;
}

.service-icons span:hover::after,
span:hover::before {
  display: block;
}

.service-icons .parking-icon::after {
  content: "Parking";
}

.service-icons .meeting-icon::after {
  content: "Meeting";
}

.service-icons .elevator-icon::after {
  content: "Elevator";
}

.service-icons .wifi-icon::after {
  content: "Wifi";
}

.service-icons .laundry-icon::after {
  content: "Laundry";
}

.service-icons .restaurant-icon::after {
  content: "Restaurant";
}

.service-icons .receptionist-icon::after {
  content: "Receptionist";
}

.service-icons .shuttle-icon::after {
  content: "Shuttle";
}

.service-icons .gym-icon::after {
  content: "Gym";
}

.service-icons .event-icon::after {
  content: "Event";
}

.service-icons .carrental-icon::after {
  content: "Car Rental";
}










.hotel-desc {
  font-size: .8rem;
  height: 5rem;
  line-height: 1.3rem;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  margin-bottom: 1rem;
}

.hotel-pay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.old-price {

  width: auto;
  font-size: 1rem;
  text-decoration-line: line-through;
  margin-bottom: .3rem;
}

.new-price {
  color: #7AAF50;
  font-size: 1.4rem;
  font-weight: bold;
}

.note {
  width: 8rem;
  color: #EE642B;
}

.view-room {
  display: grid;
  place-items: center;
}

.view-room-btn {
  padding: 1.2rem 1.8rem;
  background-color: #FFFF00;
  transition: var(--main-transition);
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px #ccc;
  border-radius: .4rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.view-room-btn:focus{
  box-shadow: 0 0 16px greenyellow;
  background-color: #f5f579;
  transform: translateY(.5rem);
  font-size: 1.5rem;
}




.page-btns-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}

.page-btn-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}

.page-btns-container button {
  width: 10rem;
  padding: .5rem 1.5rem;
  background: transparent;
  border: 1px solid #eee;
  border-radius: .3rem;
  font-size: 1rem;
  color: var(--lightblue);
  cursor: pointer;
}

.page-btns-container button:hover {
  background-color: #eee;
}

.page-btn-center button {
  width: 4rem;
  padding: .5rem 1.5rem;
  background: transparent;
  border: 1px solid #eee;
  border-radius: .3rem;
  font-size: 1rem;
  color: var(--lightblue);
}

.page-btn-center button.active {
  background-color: #009FD9;
  color: #fff;
}




/* Login Section */
.overlay-login {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(77, 75, 75, 0.7);
  z-index: 4;
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: var(--main-transition);
}

.show-overlay-login {
  visibility: visible;
}

.login-container {
  width: 40%;
  height: 80vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: .4rem;
  overflow: hidden;
  transform: translateY(-120%);
  transition: var(--main-transition);
}

.show-login-container {
  transform: translateY(0%);
}

.login-header {

  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slide-login {
  width: 100%;
  position: relative;
  transform: translateX(100%);
  transition: var(--main-transition);
}

.show-register {
  transform: translateX(0%);
}

.login-header button {
  background-color: var(--darkblue);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  transition: var(--main-transition);
}

.login-user {
  width: 45%;
  height: 100%;
}

.register-user {
  width: 45%;
  height: 100%;
}

.login-header button.active {
  background-color: #fff;
  color: var(--lightblue);
}

.close-overlay-login {
  width: 10%;
  height: 100%;
  color: rgb(197, 2, 2);
}

.login-center {
  width: 40vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
}

.hide-login {
  transform: translateX(100%);
}

.login-center form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link-account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 1rem;
  border-bottom: 1px rgb(231, 231, 231) solid;
  padding-bottom: 1.6rem;
  position: relative;
}

.link-account::after {
  content: "Or";
  background-color: #fff;
  width: 3rem;
  height: 1rem;
  font-size: 1rem;
  position: absolute;
  bottom: -.3rem;
  text-align: center;
  /* font-weight: bold; */
  left: 45%;
}

.link-fb {
  width: 49%;
  height: 2.5rem;
  font-size: 1.1rem;
  padding: .5rem 0;
  background-color: #1877F2;
  color: #fff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.link-fb i {
  margin-right: .5rem;
}

.link-google {
  width: 49%;
  height: 2.5rem;
  font-size: 1.1rem;
  padding: .5rem 0;
  background-color: #EA4335;
  color: #fff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.link-google i {
  margin-right: .5rem;
}

.title-login {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: .5rem 0 1rem 0;
  transition: var(--main-transition);
}

.user-name-login-box {
  width: 90%;
  margin: 1rem auto;
  position: relative;
}

.user-name-login {
  height: 2rem;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: .4rem;
  transition: var(--main-transition);
  padding: .8rem;
  font-size: 1rem;
}

.user-name-login-box:before {
  content: "Email";
  font-size: 1.1rem;
  position: absolute;
  border-radius: 2rem;
  top: .3rem;
  left: 1rem;
  border-radius: 1rem;
  color: #aaa;
  transition: var(--main-transition);
}

.user-name-login-box::after {
  content: "*";
  height: .3rem;
  font-size: 1.3rem;
  position: absolute;
  top: .2rem;
  left: 4rem;
  color: red;
  transition: var(--main-transition);
}

.user-name-login:focus {
  border: 1px solid var(--lightblue);
  box-shadow: 0 0px 5px var(--lightblue);
}

.user-name-login-box.move-top:before,
.user-name-login-box.move-top:after {
  transform: translateY(-1.2rem);
  background-color: #fff;
  font-size: 1rem;
  margin-left: -.5rem;

}

.password-login-box {
  width: 90%;
  margin: 1rem auto;
  position: relative;

}

.password-login-box:before {
  content: "Password";
  font-size: 1.1rem;
  position: absolute;
  border-radius: 2rem;
  top: .9rem;
  border-radius: 1rem;
  left: 1rem;

  color: #aaa;
  transition: var(--main-transition);
}

.password-login-box::after {
  content: "*";
  height: .3rem;
  font-size: 1.3rem;
  position: absolute;
  top: .9rem;
  left: 5.8rem;
  color: red;
  transition: var(--main-transition);
}

.password-login-box.move-top:before,
.password-login-box.move-top:after {
  transform: translateY(-1.3rem);
  background-color: #fff;
  font-size: 1rem;
  margin-left: -.5rem;

}

.password-login {
  width: 100%;
  margin: .5rem auto 1rem auto;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: .4rem;
  padding-left: .8rem;
  transition: var(--main-transition);
}

.password-login:focus {
  border: 1px solid var(--lightblue);
  box-shadow: 0 0px 5px var(--lightblue);
}

.login-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0rem auto;
}

.forgot-password {
  color: var(--lightblue);
  font-size: .8rem;
  font-style: italic;
  cursor: pointer;
  transition: var(--main-transition);
}

.forgot-password:hover {
  color: rgb(19, 92, 226);
}

.login-btn {
  width: 90%;
  height: 2rem;
  margin: .8rem auto;
  border: none;
  background-color: var(--lightblue);
  color: white;
  font-size: 1.2rem;
  border-radius: .4rem;
  cursor: pointer;
  transition: var(--main-transition);
  font-weight: bold;
}

.login-btn:hover {
  background-color: var(--darkblue);
  box-shadow: 0 0 8px var(--lightblue);
}


/* Register */

.register-center {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  transform: translateX(0%);
}

.hide-register {
  transform: translateX(100%);
}

.register-center form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link-account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 1rem;
  border-bottom: 1px rgb(231, 231, 231) solid;
  padding-bottom: 1.6rem;
  position: relative;
}

.link-account::after {
  content: "Or";
  background-color: #fff;
  width: 3rem;
  height: 1rem;
  font-size: 1rem;
  position: absolute;
  bottom: -.3rem;
  text-align: center;
  left: 45%;
}

.link-fb {
  width: 49%;
  height: 2.5rem;
  font-size: 1.1rem;
  padding: .5rem 0;
  background-color: #1877F2;
  color: #fff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.link-fb i {
  margin-right: .5rem;
}

.link-google {
  width: 49%;
  height: 2.5rem;
  font-size: 1.1rem;
  padding: .5rem 0;
  background-color: #EA4335;
  color: #fff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.link-google i {
  margin-right: .5rem;
}

.title-register {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0rem 0 .5rem 0;
  transition: var(--main-transition);
}

.user-name-register-box {
  width: 90%;
  margin: .5rem auto;
  position: relative;
}

.user-name-register {
  height: 2rem;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: .4rem;
  transition: var(--main-transition);
  padding: .8rem;
  font-size: 1.2rem;
  font-size: 1rem;
}

.alert-register {
  color: #ccc;
  font-size: .7rem;
  position: absolute;
  bottom: -1.1rem;
  left: 1rem;
  height: 0;
  transition: var(--main-transition);
  overflow: hidden;
  z-index: 1;
  /* display: none; */
}

.show-alert {
  /* display:block; */
  height: 1rem;

}

.user-name-register-box:before {
  content: "Email";
  font-size: 1.1rem;
  position: absolute;
  border-radius: 2rem;
  top: .3rem;
  left: 1rem;
  color: #aaa;
  height: 1.1rem;
  transition: var(--main-transition);
}

.user-name-register-box::after {
  content: "*";
  height: .5rem;
  font-size: 1.3rem;
  position: absolute;
  top: .2rem;
  left: 4rem;
  color: red;
  transition: var(--main-transition);
}

.user-name-register:focus {
  border: 1px solid var(--lightblue);
  box-shadow: 0 0px 5px var(--lightblue);
}

.user-name-register-box.move-top:before,
.user-name-register-box.move-top:after {
  transform: translateY(-1.2rem);
  background: #fff;
  padding-bottom: -1rem;
  font-size: 1rem;
  margin-left: -.5rem;

}

.icon-validate-user {
  position: absolute;
  right: -1.2rem;
  top: .4rem;
  width: 1.2rem;
  display: flex;
  flex-direction: column;
  height: 1rem;
  padding-left: .2rem;
  padding-right: .2rem;
  overflow: hidden;
  visibility: hidden;
}

.slide-icon-validate {
  width: 100%;
  height: 100%;
  transition: var(--main-transition);
  transform: translateY(-130%);
}

.change-icon-validate {
  transform: translateY(-10%);
}

.icon-validate-user .fa-check {
  color: greenyellow;
}

.icon-validate-user .fa-times {
  color: red;
}

.password-register-box {
  width: 90%;
  margin: 1rem auto;
  position: relative;

}

.password-register-box-confirm {
  width: 90%;
  margin: 0rem auto;
  position: relative;

}

.password-register-box-confirm:before {
  content: "Password Confirm";
  font-size: 1.1rem;
  position: absolute;
  border-radius: 1rem;
  top: .9rem;
  left: 1rem;
  color: #aaa;
  height: 1.1rem;
  transition: var(--main-transition);
}

.password-register-box-confirm::after {
  content: "*";
  height: .4rem;
  font-size: 1.3rem;
  position: absolute;
  top: .9rem;
  left: 10rem;
  color: red;
  transition: var(--main-transition);
}

.password-register-box-confirm.move-top:before,
.password-register-box-confirm.move-top:after {
  transform: translateY(-1.3rem);
  background-color: #fff;
  font-size: 1rem;
  margin-left: -.5rem;

}

.password-register-confirm {
  width: 100%;
  margin: .5rem auto 1rem auto;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: .4rem;
  padding-left: .8rem;
  transition: var(--main-transition);
}


.password-register-box:before {
  content: "Password";
  font-size: 1.1rem;
  position: absolute;
  border-radius: 1rem;
  top: .5rem;
  left: 1rem;
  height: 1.1rem;
  color: #aaa;
  transition: var(--main-transition);
}

.password-register-box::after {
  content: "*";
  height: .3rem;
  font-size: 1.3rem;
  position: absolute;
  top: .5rem;
  left: 5.8rem;
  color: red;
  transition: var(--main-transition);
}

.password-register-box.move-top:before,
.password-register-box.move-top:after {
  transform: translateY(-1.3rem);
  background-color: #fff;
  font-size: 1rem;
  margin-left: -.5rem;

}

.password-register {
  width: 100%;
  margin: .2rem auto .2rem auto;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: .4rem;
  padding-left: .8rem;
  transition: var(--main-transition);
}

.password-register:focus {
  border: 1px solid var(--lightblue);
  box-shadow: 0 0px 5px var(--lightblue);
}

.password-register-confirm:focus {
  border: 1px solid var(--lightblue);
  box-shadow: 0 0px 5px var(--lightblue);
}

.register-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: .7rem auto;
}


.register-btn {
  width: 90%;
  height: 2rem;
  margin: .8rem auto;
  border: none;
  background-color: var(--lightblue);
  color: white;
  font-size: 1.2rem;
  border-radius: .4rem;
  cursor: pointer;
  transition: var(--main-transition);
  font-weight: bold;
}

.register-btn:hover {
  background-color: var(--darkblue);
  box-shadow: 0 0 8px var(--lightblue);
}




  /* ================Side Bar Cart=================== */


.shopping-cart-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  visibility: hidden;
  z-index: 1;
}
.cart-side-bar{
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 35vw;
  background-color: #fff;
  padding: .7rem;
  transform: translateX(100%);
  transition:var(--main-transition);
  overflow-y: scroll;
}
.shopping-cart-overlay.show{
  visibility: visible;
}
.cart-side-bar.show{
  transform: translateX(0%);
}
.hide-side-bar{
  font-size: 1.4rem;
  background:transparent;
  border: none;
  cursor: pointer;

}
.cart-header{
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
.tours-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

}
.tour-center{
  display: flex;
  flex-direction: row;
  background-color: #eee;
  border-radius: .4rem;
  position: relative;
  margin-bottom: 1.5rem;
  box-shadow: gray 2px 2px 16px;
}
.remove-btn{
  position: absolute;
  right: .5rem;
  top: .5rem;
  border:none;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 2;
}
.img-container{
  width: 30%;
}
.active-center{
  width:70%;
  display: flex;
  flex-direction: row;

}
.tour-center img{
  width: 100%;
  height: 100%;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}
.checkout-alert{
  width:30%;
  height:100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.89);
  display:grid;
  place-items: center;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
  visibility: hidden;
}
.checkout-alert.show{
  visibility: visible;
}
.checkout-alert .fa-check-circle{
  color: greenyellow;
  font-size: 2.8rem;
}
.left-col{
  display: flex;
  flex-direction: column;
  width: 50%;
  

}
.hotel-name{
  font-size: 1.3rem;
  padding-left: 1rem;
  color: var(--lightblue);
 
}
.hotel-name h3{
  width:9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-col .stars{
  padding-left: 1rem;
}
.room-order{
  position: relative;
  margin-left: 1rem;
  margin-top: 1rem;
  width:8rem;
}
.close-order-box{
  position: absolute;
  right: .2rem;
  top: 1rem;
}
.room-order .order-btn{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  height: 2.5rem;
  width: 8rem;
  background-color: #fff;
  border: none;
  border-radius: .3rem;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: .5rem;
}
.room-order .number-box-order{
  position: absolute;
  bottom: -4.5rem;
  right: 0rem;
  display: flex;
  flex-direction: column;
  width: 120%;
  height: 10vh;
  background-color: var(--lightblue);
  justify-content:center;
  align-items: center;
  border-radius: .3rem;
  box-shadow: gray 0 4px 16px;
  visibility: hidden;
  z-index: 1;
  color: white;
 
}
.number-box-order.show{
  visibility: visible;
}
.number-box-order::after {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-weight: 900;
  top: -.7rem;
  left: 43%;
  font-size: 1.8rem;
  color: var(--lightblue);
}
.number-box-order .room-order{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width:100%;
  margin-bottom: .5rem;
}
.number-box-order button{
  padding: .1rem;
  background: transparent;
  border-radius: 50%;
  border: 1px white solid;
  color:white;
  cursor: pointer;
}
.number-box-order .customer-order{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width:100%;
}
.right-col{
  display: flex;
  flex-direction: column;
  width: 50%;

}
.right-col .date-center{
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
  position: relative;
}
.right-col .date-center::after{
  content: '\f0d7';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 1.5rem;
  color: var(--lightblue);
  top: 1.6rem;
  left: 3rem;
}
.right-col .date-center input{
  padding-left: .6rem;
  margin:0;
  width:78%;
  height: 1.5rem;
  border-radius: 10px !important;
  margin-bottom: .2rem;
  border: none;

}
.right-col .date-center input[name="start-day"]{
  margin-bottom: 1rem;
}

.price-center{
  color:#7AAF50 ;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}

.cart-footer{
  width:100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}
.title-total{
  font-size: 1rem;
  color: #ccc;
  
}
.total-price .digit{
  font-size: 1.8rem;
  font-weight: bold;
}

.checkout button{
  background-color: #7AAF50;
  border: none;
  padding: .5rem 1rem;
  font-size: 1.4rem;
  margin-top: -.8rem;
  color: #fff;
  border-radius: .5rem;
  cursor: pointer;
}