@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap');




:root {
  --main-transition: all .3s linear;
  --lightblue:#00D3FB;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  outline: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.logo-header {
  flex-shrink: 5;

}

.logo-header img {
  width: 80%;

}

.nav-header {
  width: 25rem;
  margin-left: -6rem;
}

.nav-center {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-link a {
  text-decoration: none;
  color: inherit;
  transition: var(--main-transition);
  padding: .3rem;
  border-radius: .5rem;
}

.nav-link a:hover {
  background-color: rgb(233, 233, 233);
}

.contact-header {
  display: flex;
  flex-direction: row;
}

.support-phone {
  display: flex;
  flex-direction: row;
  background-color: #E0F7FF;
  border-radius: .3rem;
  padding: .3rem;
  font-size: .7rem;
}

.support-phone .icon-phone-center {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.icon-phone {
  border: 1px solid #000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.bold {
  font-weight: bold;
}

.clr-gray {
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.hotline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E0F7FF;
  border-radius: .3rem;
  padding: .3rem;
  font-size: .7rem;
  border-left: 2px dashed #9ed5e7;
}

.hotline .clr-gray {
  padding-top: .3rem;
}

.icon-container {
  position: relative;

}

.subtitle-icon {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  background-color: orange;
  border-radius: 50%;
  width: 1rem;
  display: grid;
  place-items: center;
  font-size: .8rem;
  color: white;
  padding: .1rem;
}

.user-header {
  display: flex;
  flex-direction: row;
  width: 10rem;
  justify-content: space-around;
}

.user-header .far {
  cursor: pointer;
}





.booking {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  height: 4rem;
  background-color: #1A7FD9;
  padding: .7rem 2rem;
}
.form-input-hotel{
  width:100%;
}
.form-input-hotel .form {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:space-around;
}



.input {
  position: relative;
  width: 20rem;
  height: auto;
}
.input:hover .input-box{
  display:block;
}
#input-location{
  position: relative;
  padding: .5rem 0 .5rem 2.5rem;
  border: none;
  border-radius: .3rem;
  background-image: url('../images/favicon.png');
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: .3rem center;
  height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.input-box {
  position: absolute;
  top: 3rem;
  width: 100%;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: gray 0 4px 16px;
  display:none;
  z-index: 1;
}
.input-box::after {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-weight: 900;
  top: -.8rem;
  left: 50%;
  font-size: 1.8rem;
  color: #DDF6FF;
}
.input-box .place {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.input-box h4 {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #DDF6FF;
}

.input-box ul {
  list-style-type: none;
  width: 80%;
  column-count:2;
  column-gap: 5rem;
  column-width: auto;
  padding-bottom: 2rem;
}

.input-box li {
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  transition: var(--main-transition);
}
.input-box li:hover {
  color:#4C66A4 ;
  font-weight: bold;
 font-size: 1.1rem;
}

.input-box-enter{
  position: absolute;
  top: 3rem;
  width: 100%;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: gray 0 4px 16px;
  display:none;
  z-index: 1;
}
.input-box-enter::after {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-weight: 900;
  top: -.8rem;
  left: 50%;
  font-size: 1.8rem;
  color: #DDF6FF;
}
.input-box.input-box .hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
   
} 
.input-box-enter h4{
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #DDF6FF;

}
.input-box-enter ul {
  list-style-type: none;
  width: 98%;
  padding-left: .4rem;
  column-gap: 5rem;
  column-width: auto;
  padding-bottom: 2rem;
  max-height: 60vh;
  overflow-y: scroll;
}

.input-box-enter li {
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  transition: var(--main-transition);
}
.input-box-enter li:hover {
  color:#4C66A4 ;
  font-weight: bold;
 font-size: 1.1rem;
}
.input-box-enter .price{
  color:#ED4079;
}
.hotels-list i{
  color:#FFD21F;
}


.date-center {
  display: flex;
  flex-direction: row;
}

input[type="date"] {
  height: 2.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  padding: 0 .5rem 0 1rem;
}

#start-day {
  border-right: 1px solid #ccc;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

#end-day {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.amount-person {
  position: relative;
  height: 2.5rem;
  width:20rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border: none;
  border-radius: .3rem;
  font-style: italic;
  font-size: 1rem;
  cursor: pointer;
}
.amount-person i{
  opacity: .5;
}
.amount-person .fa-times{
  position:absolute;
  top: 30%;
  right: 1rem;
  font-size: 1rem;
  
  visibility: hidden;
}
.amount-person .fa-times.show{
  visibility: visible;
}
.number-box{
  position: absolute;
  bottom: -4rem;
  left: 0;
  display: flex;
  flex-direction: column;
  width:100%;
  height: 20vh;
  background-color: #fff;
  padding: 2rem;
  border-radius: .3rem;
  box-shadow: gray 0 4px 16px;
  visibility: hidden;
  
}
.number-box::after {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-weight: 900;
  top: -.7rem;
  left: 50%;
  font-size: 1.8rem;
  color: #fff;
}
.show{
  visibility: visible;
}
.number-box .room{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.number-box .customer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.number-box button{
  background:transparent;
  border-radius: 50%;
  display:grid;
  place-items: center;
  padding: .3rem;
  border: 1px black solid;
  cursor: pointer;
}


.find-hotel {
  height: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  width:15rem;
  font-size: 1.4rem;
  background-color: #ED4079;
  border: none;
  border-radius: .3rem;
}
.find-hotel:title{

}








/* FILTER CONTAINER */


.open-filter-bar{
  font-size: 3rem;
  position: absolute;
  top: 9rem;
  left: 3rem;
  background:transparent;
  border: none;
  color: var(--lightblue);
  text-shadow: 0 1px 3px var(--lightblue);
  animation: buttonBar 2s linear infinite;
  cursor: pointer;
}
@keyframes buttonBar {
  
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }

}

.filter-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(109, 216, 255,.5);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: var(--main-transition);
  cursor: pointer;
}
.filter-container.show-container{
  visibility: visible;
}
.filter-bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0vw;
  background-color: #fff;
  overflow-y: scroll;
  transition: var(--main-transition);
  cursor: default;
}
.filter-bar.show-bar{
  width:30vw;
}
.filter-box{
  border:1px rgb(233, 231, 231) solid;
  padding: 1rem;
  line-height: 2rem;
  margin: 2rem;
}

.display-number-of-hotel{
  border-bottom: 1px lightgrey solid;
}
.number-of-hotel{
  font-size: 1.3rem;
}
.clear-all-filter{
  border:none;
  background:transparent;
  color:var(--lightblue);
  padding: 1rem 0;
  cursor: pointer;
}

.filter-allow-name{
  padding: 1rem 0;
  display:flex;
  flex-direction: column;
  border-bottom: 1px lightgrey dashed;
}
#filter-allow-name{
  font-size: 1.1rem;
  padding: .5rem;
  border-radius: .5rem;
  outline: none;
  border: 1px #ccc solid;
  margin:1rem 0;
}
#filter-allow-name:focus{
  border: 1px var(--lightblue) solid;
}
.filter-allow-price {
  padding: 1rem 0;
  border-bottom: 1px lightgrey dashed;
}
.value-min-max{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.value-min{
  position: relative;
  margin-left: 0rem;
  text-align: left;
}
.value-min::before{
  content: "|";
  position: absolute;
  left: .3rem;
  bottom: -.9rem;
  color:lightgrey;
  font-size: .8rem;
}
.value-max{
  position: relative;
  margin-right: -1rem;
}
.value-max::before{
  content: "|";
  position: absolute;
  right: 1.5rem;
  bottom: -.9rem;
  color:lightgrey;
  font-size: .8rem;
}
.value-range{
  color:var(--lightblue);
  font-weight: bold;
  width:100%;
  text-align: right;
}


.range-input-price{
  -webkit-appearance: none;
  width: 100%;
  height: 14px;
  overflow:hidden;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: .5s;
  border-radius: 1rem;
}


.range-input-price:hover {
  border:1px solid #91c8f5;
}

.range-input-price::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  box-shadow: -340px 0 0 330px #449be2, inset 0 0 0 40px #fff;
  border-radius: 50%;
  border: 1px rgb(129, 129, 245) solid;
}


 .fa-star{
  color: #FFD21F;
  margin-right: .3rem;
}



.container-checkbox {
  display: block;
  position: relative;
  padding-left: 29px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: .4rem;
  left: 0;
  height: 20px;
  width: 20px;
  border:1px solid #ccc;
  background-color: #fff;
}

.container-checkbox:hover input ~ .checkmark {
  border: 2px #50A1D1 solid;
}

.container-checkbox input:checked ~ .checkmark {
  border: 2px #50A1D1 solid;
  background-color: #50A1D1;
}

.checkmark:after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top: -.4rem;
  left: .1rem;
  font-size: .8rem;
  color: white;
  visibility: hidden;
}

.container-checkbox input:checked ~ .checkmark:after {
  visibility: visible;
}

.filter-allow-stars{
  padding: 1rem 0;
  border-bottom: 1px lightgrey dashed;
}

.filter-allow-type{
  padding: 1rem 0;
  border-bottom: 1px lightgrey dashed;
}
.container-ratio {
  display: block;
  position: relative;
  padding-left: 29px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-ratio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-ratio {
  position: absolute;
  top: .4rem;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border:1px solid #ccc;
  background-color: #fff;
}

.container-ratio:hover input ~ .checkmark-ratio {
  border: 2px #50A1D1 solid;
}

.container-ratio input:checked ~ .checkmark-ratio {
  border: 2px #50A1D1 solid;
  background-color: #50A1D1;
}

.checkmark-ratio:after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top: -.5rem;
  left: .15rem;
  font-size: .7rem;
  color: white;
  visibility: hidden;
}

.container-ratio input:checked ~ .checkmark-ratio:after {
  visibility: visible;
}

.filter-allow-service{
  padding: 1rem 0;
}