@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap');




:root {
  --main-transition: all .3s linear;
  --lightblue: #00D3FB;
  --darkblue: #01bbe0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  outline: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.logo-header {
  flex-shrink: 5;

}

.logo-header img {
  width: 80%;
  cursor: pointer;
}

.nav-header {
  width: 25rem;
  margin-left: -6rem;
}

.nav-center {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-link a {
  text-decoration: none;
  color: inherit;
  transition: var(--main-transition);
  padding: .3rem;
  border-radius: .5rem;
}

.nav-link a:hover {
  background-color: rgb(233, 233, 233);
}

.contact-header {
  display: flex;
  flex-direction: row;
}

.support-phone {
  display: flex;
  flex-direction: row;
  background-color: #E0F7FF;
  border-radius: .3rem;
  padding: .3rem;
  font-size: .7rem;
}

.support-phone .icon-phone-center {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.icon-phone {
  border: 1px solid #000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.bold {
  font-weight: bold;
}

.clr-gray {
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.hotline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E0F7FF;
  border-radius: .3rem;
  padding: .3rem;
  font-size: .7rem;
  border-left: 2px dashed #9ed5e7;
}

.hotline .clr-gray {
  padding-top: .3rem;
}

.icon-container {
  position: relative;

}

.subtitle-icon {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  background-color: orange;
  border-radius: 50%;
  width: 1rem;
  display: grid;
  place-items: center;
  font-size: .8rem;
  color: white;
  padding: .1rem;
}

.user-header {
  display: flex;
  flex-direction: row;
  width: 10rem;
  justify-content: space-around;
}

.user-header i {
  cursor: pointer;
}








.banner {
  background: url('../images/banner-img.png') center/cover no-repeat;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.5rem;
}

.booking {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 80%;
  background-color: #1A7FD9;
  margin-right: 2rem;
  border-radius: .7rem;
  padding: 1rem 2rem;
  animation: showBox .5s 1 ease-in-out;
}

@keyframes showBox {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.form-input-hotel .form {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content:space-around; */
}

.select-kind {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: start;
  height: 2rem;
  margin-bottom: 2rem;
}

.select-kind button {
  font-size: 1.4rem;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
  border-bottom: 2px solid transparent;
  opacity: .7;
}

.select-kind button:hover {
  border-color: #fff;
}

.select-kind .active {
  opacity: 1;
  border-color: #fff;
  font-weight: bold;
}

.select-kind button i {
  padding-right: .8rem;
}

.hotel-btn {
  padding-right: 2rem;
  margin-right: .5rem;
}

.input {
  position: relative;
  width: 100%;
  height: auto;
}

.input:hover .input-box {
  display: block;
}

#input-location {
  position: relative;
  padding: .5rem 0 .5rem 2.5rem;
  border: none;
  border-radius: .3rem;
  background-image: url('../images/favicon.png');
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: .3rem center;
  height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.input-box {
  position: absolute;
  top: 3rem;
  width: 100%;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: gray 0 4px 16px;
  display: none;
  z-index: 1;
}

.input-box::after {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-weight: 900;
  top: -.8rem;
  left: 50%;
  font-size: 1.8rem;
  color: #DDF6FF;
}

.input-box .place {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.input-box h4 {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #DDF6FF;
}

.input-box ul {
  list-style-type: none;
  width: 80%;
  column-count: 2;
  column-gap: 5rem;
  column-width: auto;
  padding-bottom: 2rem;
}

.input-box li {
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  transition: var(--main-transition);
}

.input-box li:hover {
  color: #4C66A4;
  font-weight: bold;
  font-size: 1.1rem;
}

.input-box-enter {
  position: absolute;
  top: 3rem;
  width: 100%;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: gray 0 4px 16px;
  display: none;
  z-index: 1;
}

.input-box-enter::after {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-weight: 900;
  top: -.8rem;
  left: 50%;
  font-size: 1.8rem;
  color: #DDF6FF;
}

.input-box.input-box .hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

}

.input-box-enter h4 {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #DDF6FF;

}

.input-box-enter ul {
  list-style-type: none;
  width: 98%;
  padding-left: .4rem;
  column-gap: 5rem;
  column-width: auto;
  padding-bottom: 2rem;
  max-height: 60vh;
  overflow-y: scroll;
}

.input-box-enter li {
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: var(--main-transition);
}

.input-box-enter li:hover {
  color: #4C66A4;
  font-weight: bold;
  font-size: 1.1rem;
}

.input-box-enter .price {
  color: #ED4079;
}

.hotels-list i {
  color: #FFD21F;
}





.date-center {
  display: flex;
  flex-direction: row;


}

input[type="date"] {
  height: 2.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  padding: 0 .5rem 0 1rem;
}

#start-day {
  border-right: 1px solid #ccc;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

#end-day {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.amount-person {
  position: relative;
  height: 2.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border: none;
  border-radius: .3rem;
  font-style: italic;
  font-size: 1rem;
  cursor: pointer;
}

.amount-person i {
  opacity: .5;
}

.amount-person .fa-times {
  position: absolute;
  top: 30%;
  right: 1rem;
  font-size: 1rem;

  visibility: hidden;
}

.amount-person .fa-times.show {
  visibility: visible;
}

.number-box {
  position: absolute;
  bottom: -4rem;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  background-color: #fff;
  padding: 2rem;
  border-radius: .3rem;
  box-shadow: gray 0 4px 16px;
  visibility: hidden;

}

.number-box::after {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  font-weight: 900;
  top: -.7rem;
  left: 50%;
  font-size: 1.8rem;
  color: #fff;
}

.show {
  visibility: visible;
}

.number-box .room {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.number-box .customer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number-box button {
  background: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: .3rem;
  border: 1px black solid;
  cursor: pointer;
}


.find-hotel {
  height: 3.5rem;
  cursor: pointer;
  color: #fff;
  font-weight: bold;

  font-size: 1.4rem;
  background-color: #ED4079;
  border: none;
  border-radius: .3rem;
}




.slide-show {
  width: 55vw;
  position: relative;
  animation: showBoxHor .5s 1 ease-in-out;
}

@keyframes showBoxHor {
  from {
    transform: translateX(50%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-animation {
  width: 100%;
  height: 80%;
  position: relative;
}

.img-slide {
  width: 100%;
  height: 100%;
  border-radius: .7rem;
  transition: var(--main-transition);
  animation: slide 1s ease-in-out;
  /* opacity: .5; */
  display: none;
}

.slide-first {
  display: block;

}

@keyframes slide {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

.btn-slide {
  position: absolute;
  font-size: 1.7rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #fff;
  background: rgba(99, 205, 240, .7);
  color: #fff;
  display: grid;
  place-items: center;
  opacity: 0;

  transition: var(--main-transition);
  cursor: pointer;
}

.slide-animation:hover .btn-slide {
  visibility: visible;
  opacity: .8;
}

.btn-prev {
  top: 50%;
  left: 1rem;
}

.btn-next {
  top: 50%;
  right: 1rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-select-slide {
  width: .7rem;
  height: .7rem;
  background-color: #ccc;
  margin: .7rem .5rem;
  border-radius: 50%;
  cursor: pointer;
}

.button-container .active {
  transition: var(--main-transition);
  background-color: #1A7FD9;
}

.place-popular {
  width: 90%;
  margin: 0 auto;
}

.place-header {
  width: 100%;
  margin: 0rem 0 3rem 0rem;
  border-bottom: 1px solid rgba(25, 166, 227, .8);
  padding-bottom: 1rem;
}

.place-container {

  width: 100%;
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.find-destination {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  display: grid;
  place-items: center;
  background-color: rgba(25, 166, 227, .7);
  border-radius: .4rem;
  opacity: 0;
  transition: var(--main-transition);
}

.find-destination button {
  font-size: 2rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2rem;
}

.find-destination:hover {
  opacity: 1;
}

.destination {
  position: relative;
  height: auto;
  border-radius: .4rem;
}

.destination-name {
  position: absolute;
  bottom: 2px;
  width: 100%;
  background-color: rgba(25, 166, 227, .8);
  color: rgb(255, 255, 255);
  padding: .5rem;
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.destination-name h3 {
  text-align: center;
}

.img-container {
  position: relative;
}

.destination img {
  width: 100%;
  max-height: auto;
  border-radius: .4rem;
}



.service-center {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.service-center .slide-show {
  width: 48%;
  height: 60vh;
}

.service-center .button-container {
  position: absolute;
  bottom: 0rem;
  right: 1rem;
  z-index: 3;

}

.service-center .slide-animation {
  height: 100%;
  overflow: hidden;
}

.service-center .img-slide {
  transition: var(--main-transition);
  animation: showBox .5s ease-in-out;
}



.service {
  background: url("../images/bg-why-mytour.jpg") center/cover no-repeat;
  width: 50%;
  height: 60vh;
  padding: 2rem;
}

.list-service {
  list-style-type: none;
}

.list-service li {
  margin-bottom: .7rem;
}

.list-service i {
  padding-right: .5rem;
  color: #8FC63D;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0.2rem;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: var(--main-transition);
}

.container-checkbox:hover input~.checkmark {
  border: 2px #50A1D1 solid;
}

.container-checkbox input:checked~.checkmark {
  border: 2px #50A1D1 solid;
  background-color: #50A1D1;
}

.checkmark:after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top: .1rem;
  left: .08rem;
  font-size: .6rem;
  color: white;
  visibility: hidden;
}

.container-checkbox input:checked~.checkmark:after {
  visibility: visible;
}




.user-manage-btn {
  border: none;
  background: transparent;
  transition: var(--main-transition);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.user-icon {
  position: relative;
}
.user-manage-box{
  position: absolute;
  bottom:-7rem;
  left: -3.8rem;
  width:9rem;
  height: 0rem;
  overflow: hidden;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 8px #ccc;
  display: flex;
  flex-direction: column;
  transition: all .1s linear;
}
.user-manage-box.show-manage-box{
  height: 6rem;
  overflow: visible;
}
.user-manage-box::before {
  content: "\f0de";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
    position: absolute;
    color: var(--lightblue);
    top: -.8rem;
    left: 45%;
    font-size: 1.9rem;
}
.manage-header{
  width:100%;
  height:30%;
  background-color: var(--lightblue);
  color: white;
  text-align: center;
  font-size: .7rem;
  display:grid;
  place-items: center;
  grid-template-columns: auto auto;
}
.manage-header .user-name{
  width:6rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}
.user-manage-box .drop-down{
  list-style-type: none;
  display:flex;
  flex-direction: column;
  width:100%;
  height:70%;
}
.drop-down li{
  width:100%;
}
.drop-down .manage-user-btn{
  width:100%;
  border: none;
  height: 2.2rem;
  background-color: #fff;
  transition: var(--main-transition);
  cursor: pointer;
  font-weight: bold;
}
.drop-down .manage-user-btn:hover{
  background-color: #d5f4ff;
}
.manage-user-btn i{
  color:var(--lightblue);
}
.user-manage-btn.login {
  /* margin-top: -1rem; */
  border: 1px solid var(--lightblue);
  border-radius: 50%;
  padding: .4rem;
  background-color: #eee;

}
.user-manage-btn .fas.fa-user{
  display:none;
}
.login .far.fa-user{
  display: none;
}
.login .fas.fa-user{
  display: block;
}
.user-manage-btn:hover {
  color: var(--lightblue);
}

.user-manage-btn:hover .fa-chevron-down {
  transform: translateY(.4rem);
}

.user-manage-btn .fa-chevron-down {
  transform: translateY(0rem);
  transition: var(--main-transition);
  font-size: .6rem;
}

.overlay-login {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(77, 75, 75, 0.7);
  z-index: 4;
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: var(--main-transition);
}

.show-overlay-login {
  visibility: visible;
}

.login-container {
  width: 40%;
  height: 80vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: .4rem;
  overflow: hidden;
  transform: translateY(-120%);
  transition: var(--main-transition);
}

.show-login-container {
  transform: translateY(0%);
}

.login-header {

  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slide-login {
  width: 100%;
  position: relative;
  transform: translateX(100%);
  transition: var(--main-transition);
}

.show-register {
  transform: translateX(0%);
}

.login-header button {
  background-color: var(--darkblue);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  transition: var(--main-transition);
}

.login-user {
  width: 45%;
  height: 100%;
}

.register-user {
  width: 45%;
  height: 100%;
}

.login-header button.active {
  background-color: #fff;
  color: var(--lightblue);
}

.close-overlay-login {
  width: 10%;
  height: 100%;
  color: rgb(197, 2, 2);
}

.login-center {
  width: 40vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
}

.hide-login {
  transform: translateX(100%);
}

.login-center form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link-account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 1rem;
  border-bottom: 1px rgb(231, 231, 231) solid;
  padding-bottom: 1.6rem;
  position: relative;
}

.link-account::after {
  content: "Or";
  background-color: #fff;
  width: 3rem;
  height: 1rem;
  font-size: 1rem;
  position: absolute;
  bottom: -.3rem;
  text-align: center;
  /* font-weight: bold; */
  left: 45%;
}

.link-fb {
  width: 49%;
  height: 2.5rem;
  font-size: 1.1rem;
  padding: .5rem 0;
  background-color: #1877F2;
  color: #fff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.link-fb i {
  margin-right: .5rem;
}

.link-google {
  width: 49%;
  height: 2.5rem;
  font-size: 1.1rem;
  padding: .5rem 0;
  background-color: #EA4335;
  color: #fff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.link-google i {
  margin-right: .5rem;
}

.title-login {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: .5rem 0 1rem 0;
  transition: var(--main-transition);
}

.user-name-login-box {
  width: 90%;
  margin: 1rem auto;
  position: relative;
}

.user-name-login {
  height: 2rem;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: .4rem;
  transition: var(--main-transition);
  padding: .8rem;
  font-size: 1rem;
}

.user-name-login-box:before {
  content: "Email";
  font-size: 1.1rem;
  position: absolute;
  border-radius: 2rem;
  top: .3rem;
  left: 1rem;
  border-radius: 1rem;
  color: #aaa;
  transition: var(--main-transition);
}

.user-name-login-box::after {
  content: "*";
  height: .3rem;
  font-size: 1.3rem;
  position: absolute;
  top: .2rem;
  left: 4rem;
  color: red;
  transition: var(--main-transition);
}

.user-name-login:focus {
  border: 1px solid var(--lightblue);
  box-shadow: 0 0px 5px var(--lightblue);
}

.user-name-login-box.move-top:before,
.user-name-login-box.move-top:after {
  transform: translateY(-1.2rem);
  background-color: #fff;
  font-size: 1rem;
  margin-left: -.5rem;

}

.password-login-box {
  width: 90%;
  margin: 1rem auto;
  position: relative;

}

.password-login-box:before {
  content: "Password";
  font-size: 1.1rem;
  position: absolute;
  border-radius: 2rem;
  top: .9rem;
  border-radius: 1rem;
  left: 1rem;

  color: #aaa;
  transition: var(--main-transition);
}

.password-login-box::after {
  content: "*";
  height: .3rem;
  font-size: 1.3rem;
  position: absolute;
  top: .9rem;
  left: 5.8rem;
  color: red;
  transition: var(--main-transition);
}

.password-login-box.move-top:before,
.password-login-box.move-top:after {
  transform: translateY(-1.3rem);
  background-color: #fff;
  font-size: 1rem;
  margin-left: -.5rem;

}

.password-login {
  width: 100%;
  margin: .5rem auto 1rem auto;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: .4rem;
  padding-left: .8rem;
  transition: var(--main-transition);
}

.password-login:focus {
  border: 1px solid var(--lightblue);
  box-shadow: 0 0px 5px var(--lightblue);
}

.login-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0rem auto;
}

.forgot-password {
  color: var(--lightblue);
  font-size: .8rem;
  font-style: italic;
  cursor: pointer;
  transition: var(--main-transition);
}

.forgot-password:hover {
  color: rgb(19, 92, 226);
}

.login-btn {
  width: 90%;
  height: 2rem;
  margin: .8rem auto;
  border: none;
  background-color: var(--lightblue);
  color: white;
  font-size: 1.2rem;
  border-radius: .4rem;
  cursor: pointer;
  transition: var(--main-transition);
  font-weight: bold;
}

.login-btn:hover {
  background-color: var(--darkblue);
  box-shadow: 0 0 8px var(--lightblue);
}


/* Register */

.register-center {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  transform: translateX(0%);
}

.hide-register {
  transform: translateX(100%);
}

.register-center form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link-account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 1rem;
  border-bottom: 1px rgb(231, 231, 231) solid;
  padding-bottom: 1.6rem;
  position: relative;
}

.link-account::after {
  content: "Or";
  background-color: #fff;
  width: 3rem;
  height: 1rem;
  font-size: 1rem;
  position: absolute;
  bottom: -.3rem;
  text-align: center;
  left: 45%;
}

.link-fb {
  width: 49%;
  height: 2.5rem;
  font-size: 1.1rem;
  padding: .5rem 0;
  background-color: #1877F2;
  color: #fff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.link-fb i {
  margin-right: .5rem;
}

.link-google {
  width: 49%;
  height: 2.5rem;
  font-size: 1.1rem;
  padding: .5rem 0;
  background-color: #EA4335;
  color: #fff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.link-google i {
  margin-right: .5rem;
}

.title-register {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0rem 0 .5rem 0;
  transition: var(--main-transition);
}

.user-name-register-box {
  width: 90%;
  margin: .5rem auto;
  position: relative;
}

.user-name-register {
  height: 2rem;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: .4rem;
  transition: var(--main-transition);
  padding: .8rem;
  font-size: 1.2rem;
  font-size: 1rem;
}

.alert-register {
  color: #ccc;
  font-size: .7rem;
  position: absolute;
  bottom: -1.1rem;
  left: 1rem;
  height: 0;
  transition: var(--main-transition);
  overflow: hidden;
  z-index: 1;
  /* display: none; */
}

.show-alert {
  /* display:block; */
  height: 1rem;

}

.user-name-register-box:before {
  content: "Email";
  font-size: 1.1rem;
  position: absolute;
  border-radius: 2rem;
  top: .3rem;
  left: 1rem;
  color: #aaa;
  height: 1.1rem;
  transition: var(--main-transition);
}

.user-name-register-box::after {
  content: "*";
  height: .5rem;
  font-size: 1.3rem;
  position: absolute;
  top: .2rem;
  left: 4rem;
  color: red;
  transition: var(--main-transition);
}

.user-name-register:focus {
  border: 1px solid var(--lightblue);
  box-shadow: 0 0px 5px var(--lightblue);
}

.user-name-register-box.move-top:before,
.user-name-register-box.move-top:after {
  transform: translateY(-1.2rem);
  background: #fff;
  padding-bottom: -1rem;
  font-size: 1rem;
  margin-left: -.5rem;

}

.icon-validate-user {
  position: absolute;
  right: -1.2rem;
  top: .4rem;
  width: 1.2rem;
  display: flex;
  flex-direction: column;
  height: 1rem;
  padding-left: .2rem;
  padding-right: .2rem;
  overflow: hidden;
  visibility: hidden;
}

.slide-icon-validate {
  width: 100%;
  height: 100%;
  transition: var(--main-transition);
  transform: translateY(-130%);
}

.change-icon-validate {
  transform: translateY(-10%);
}

.icon-validate-user .fa-check {
  color: greenyellow;
}

.icon-validate-user .fa-times {
  color: red;
}

.password-register-box {
  width: 90%;
  margin: 1rem auto;
  position: relative;

}

.password-register-box-confirm {
  width: 90%;
  margin: 0rem auto;
  position: relative;

}

.password-register-box-confirm:before {
  content: "Password Confirm";
  font-size: 1.1rem;
  position: absolute;
  border-radius: 1rem;
  top: .9rem;
  left: 1rem;
  color: #aaa;
  height: 1.1rem;
  transition: var(--main-transition);
}

.password-register-box-confirm::after {
  content: "*";
  height: .4rem;
  font-size: 1.3rem;
  position: absolute;
  top: .9rem;
  left: 10rem;
  color: red;
  transition: var(--main-transition);
}

.password-register-box-confirm.move-top:before,
.password-register-box-confirm.move-top:after {
  transform: translateY(-1.3rem);
  background-color: #fff;
  font-size: 1rem;
  margin-left: -.5rem;

}

.password-register-confirm {
  width: 100%;
  margin: .5rem auto 1rem auto;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: .4rem;
  padding-left: .8rem;
  transition: var(--main-transition);
}


.password-register-box:before {
  content: "Password";
  font-size: 1.1rem;
  position: absolute;
  border-radius: 1rem;
  top: .5rem;
  left: 1rem;
  height: 1.1rem;
  color: #aaa;
  transition: var(--main-transition);
}

.password-register-box::after {
  content: "*";
  height: .3rem;
  font-size: 1.3rem;
  position: absolute;
  top: .5rem;
  left: 5.8rem;
  color: red;
  transition: var(--main-transition);
}

.password-register-box.move-top:before,
.password-register-box.move-top:after {
  transform: translateY(-1.3rem);
  background-color: #fff;
  font-size: 1rem;
  margin-left: -.5rem;

}

.password-register {
  width: 100%;
  margin: .2rem auto .2rem auto;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: .4rem;
  padding-left: .8rem;
  transition: var(--main-transition);
}

.password-register:focus {
  border: 1px solid var(--lightblue);
  box-shadow: 0 0px 5px var(--lightblue);
}

.password-register-confirm:focus {
  border: 1px solid var(--lightblue);
  box-shadow: 0 0px 5px var(--lightblue);
}

.register-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: .7rem auto;
}


.register-btn {
  width: 90%;
  height: 2rem;
  margin: .8rem auto;
  border: none;
  background-color: var(--lightblue);
  color: white;
  font-size: 1.2rem;
  border-radius: .4rem;
  cursor: pointer;
  transition: var(--main-transition);
  font-weight: bold;
}

.register-btn:hover {
  background-color: var(--darkblue);
  box-shadow: 0 0 8px var(--lightblue);
}







footer {
  width: 100%;
  height: 110vh;
  background-color: #FAFAFA;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  padding: 5rem 5rem;
  font-size: .9rem;
}

.logo-footer {
  position: absolute;
  top: 3rem;
  left: 9rem;
}

.left-col {
  width: 30%;
  padding-right: 3rem;
}

.center-col {
  width: 30%;
  padding-right: 3rem;
}

.right-col {
  width: 30%;
  /* padding-right: 3rem ;   */
}

footer p {
  margin: .8rem 0 .8rem;
}

.paragraph {
  margin: 1.8rem 0 1.8rem 0;
}

footer .icon-container i {
  font-size: 1.8rem;
  margin: .5rem 1.7rem 0 0;
}

.icon-container .fa-facebook-square {
  color: #4C66A4;
}

.icon-container .fa-google-plus-square,
.fa-instagram-square {
  color: #D50F25;
}